@media screen and (min-width: 481px) and (max-width: 768px) {
    main {
        margin: 20px;
    }

    .left a img {
        width: 200px;
        margin-left: 3px;
    }

    .left-section ul li a {
        color: #0296CE;
    }

    ul li a.active {
        border-bottom: 3px solid #0296CE;
    }

    ul li a {
        padding-bottom: 10px;
    }

    nav ul {
        display: none;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        gap: 0.5rem;
    }

    .right-section {
        margin-top: 20px;
        width: 100%;
    }

    .section-header {
        margin-top: 10px;
        font-size: 20px;
        color: #0296CE;
    }

    .card-section {
        display: grid;
    }

    .bottom-section {
        margin-top: 10px;
    }

    .bottom-section {
        display: flex;
        margin-top: 50px;
        /* align-items: center; */
    }

    textarea {
        width: 250px;
    }

    .comments {
        font-size: small;
    }

    footer {
        margin-top: 30px;
        padding: 20px;
        background: gainsboro;
        gap: 4rem;
        font-size: small;
    }

    .article ul li {
        font-size: small;
    }

    i {
        margin-right: 2px;
        color: black;
        font-size: medium;
    }

    h1 {
        font-size: medium;
    }

}